@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Serif:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 헤더영역 */
header {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background-color: #fff;
}
header nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
header nav .sidebar {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
header nav .sidebar .logo {
  width: 100%;
  height: 100%;
  background-image: url(/img/Logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header nav .sidebar .sidemenu {
  position: absolute;
  right: 13vw;
}
header nav .sidebar .sidemenu i {
  font-size: 4vw;
  color: #333;
  display: none;
}
header nav .navigation {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .navigation .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header nav .navigation .menu li {
  width: 15%;
  margin-right: 2vw;
}
header nav .navigation .menu li a {
  font: 20px/1 "Black Han Sans";
  color: #bbb;
  opacity: 1;
}
header nav .navigation .menu li a:hover {
  color: #333;
  opacity: 1;
}
header nav .navigation .sns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}
header nav .navigation .sns li {
  margin-right: 20px;
}
header nav .navigation .sns .facebook a i {
  color: #3b5998;
  font-size: 20px;
}
header nav .navigation .sns .insta a i {
  font-size: 20px;
}
header nav .navigation .sns .blog a i {
  color: #2DB400;
  font-size: 20px;
}

/* 헤더영역 end*/
/* 푸터영역 */
footer {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}
footer .footerlogo {
  width: 300px;
  height: 50%;
  margin-left: 5px;
  background-image: url(/img/FooterLogo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .info {
  color: #eee;
  font: 12px/1 "arial";
  margin-right: 100px;
}
footer .info p {
  margin: 10px 0;
}

/* 푸터영역 end*/
@media screen and (max-width: 899px) {
  header {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
  }
  header nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  header nav .sidebar {
    width: 30vw;
  }
  header nav .sidebar .logo {
    width: 100%;
    height: 100%;
    background-image: url(/img/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
  }
  header nav .sidebar .sidemenu {
    position: absolute;
    right: 5vw;
  }
  header nav .sidebar .sidemenu i {
    font-size: 30PX;
    color: #f6a162;
    display: block;
  }
  header nav .navigation {
    width: 200px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10vw 0;
    opacity: 0;
  }
  header nav .navigation.on {
    opacity: 1;
  }
  header nav .navigation .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
  }
  header nav .navigation .menu li {
    margin-right: 0;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav .navigation .menu li a {
    font: 30px/1 "Black Han Sans";
    color: #333;
    opacity: 1;
  }
  header nav .navigation .sns {
    display: flex;
    height: 10%;
    justify-content: space-around;
  }
  header nav .navigation .sns li {
    margin-right: 20px;
  }
  header nav .navigation .sns .facebook a i {
    color: #3b5998;
    font-size: 30px;
  }
  header nav .navigation .sns .insta a i {
    font-size: 30px;
  }
  header nav .navigation .sns .blog a i {
    color: #2DB400;
    font-size: 30px;
    margin-right: -20px;
  }

  footer {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  footer .footerlogo {
    width: 200px;
    height: 100px;
    margin-left: 5px;
    background-image: url(/img/FooterLogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  footer .info {
    width: 100%;
    color: #eee;
    font: 12px/1 "arial";
    margin-right: 0pxPX;
    padding: 2vw;
  }
  footer .info p {
    margin: 10px 0;
  }
}
section {
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}
section .context {
  width: 60%;
  padding: 2vw;
}
section .context .headtext {
  font: bold 30px/1.5 "nanum gothic";
  margin-bottom: 10px;
}
section .context p {
  font: 15px/1.5 "arial";
  margin-bottom: 10px;
  letter-spacing: 1.2;
}
section .context h1 {
  font: bold 17px "nanum gothic";
  margin: 20px 0;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  section {
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
  }
  section .context {
    width: 80%;
    padding: 2vw;
  }
  section .context .headtext {
    font: bold 30px/1.5 "nanum gothic";
    margin-bottom: 10px;
  }
  section .context p {
    font: 15px/1.5 "arial";
    margin-bottom: 10px;
    letter-spacing: 1.2;
  }
  section .context h1 {
    font: bold 17px "nanum gothic";
    margin: 20px 0;
  }
}

/*# sourceMappingURL=sub5.css.map */
